<header>
	<h1>Editar nome da lista</h1>
</header>

<div id="edit-list-form">
	<%= form_with(model: @list) do |form| %>
		<div class="form-control">
			<%= form.text_field :name, id: "edit-list-input" %>
			<button type="submit" id="edit-list-btn"><i class="fas fa-check"></i></button>
		</div>
	<% end %>

	<%= button_to list_path(@list), method: :get, class: "cancel-edit-btn" do %>
		Cancelar
	<% end %>
</div>