# Bundler
/.bundle

# Environment variables
.env*
!.env.example

# Logs e arquivos temporários
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# PIDs
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Storage (Active Storage + SQLite)
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Assets compilados
/public/assets

# Node modules (se usar JS)
/node_modules

# Yarn / npm
yarn-error.log*
npm-debug.log*

# SQLite
db/*.sqlite3
db/*.sqlite3-*

# Master key (credenciais Rails)
/config/master.key

# Kamal secrets
/.kamal/secrets

# Arquivos de sistema
.DS_Store
Thumbs.db
/config/credentials/production.key
