<header>
	<h1>Editar tarefa</h1>
</header>

<div id="edit-list-form">
	<%= form_with(model: [@task.list, @task], local: true) do |form| %>
		<div class="form-control">
			<%= form.text_field :name, id: "edit-todo-input" %>
			<button type="submit" id="edit-todo-btn"><i class="fas fa-check"></i></button>
		</div>
	<% end %>
	<%= button_to list_path(@list), method: :get, class: "cancel-edit-btn" do %>
		Cancelar
	<% end %>
</div>