<div class="alert fade-in-out">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <% if notice %>
    <%= notice %>
  <% else %>
    <%= alert %>
  <% end %>
</div> 